<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="~{fragments/fragment :: head}"></div>
<title>Crea categoria</title>
</head>
<body>
	<header>
		<div th:replace="~{fragments/fragment :: navbar}"></div>
	</header>
		<div class="container">
		<div class="row">
			<h1>Crea nuova categoria</h1>

			<div>
				<form id="category-form" th:object="${category}" th:action="@{/categorie/create}" method="POST">
					<div th:replace="~{fragments/fragment :: formCategorie}"></div>
				</form>

			</div>
		</div>
	</div>
	<footer>
		<div th:replace="~{fragments/fragment :: footer}"></div>
	</footer>
		<div th:replace="~{fragments/fragment :: script}"></div>

</body>
</html>