!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.3.0/css/all.min.css} " />
<title>Foto</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Pagina foto</h1>
			<div th:if="${photos.size() > 0}">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Titolo</th>
							<th>Descrizione</th>
							<th>Tag</th>
							<th>Url</th>
							<th>Visibilità</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="photo : ${foto}" th:object="${foto}">
							<th><a th:href="@{'/photos/{id}'(id=${foto.id})}">[[*{id}]]</a></th>
							<td>[[*{titolo}]]</td>
							<td>[[*{descrizione}]]</td>
							<td>[[*{tag}]]</td>
							<td>[[*{url}]]</td>
							<td>[[*{visibilità}]]</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<a class="btn btn-success" th:href="@{/photos/create}" role="button">Crea</a>
				<a class="btn btn-primary" th:href="@{/photos/edit}" role="button">Modifica</a>

			</div>
		</div>
	</div>
	<div th:unless="${photos.size() > 0}">
					<h2>Non sono presenti foto </h2>
				</div>

	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>