<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<th:block th:fragment="form">
		<div class="mb-3">
			<label for="titolo" class="form-label">Titolo</label> <input
				type="text" class="form-control" id="title" th:field="*{titolo}"
				th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('titolo')}">[[${err}]]</li>
				</ul>
			</div>
		</div>

		<div class="mb-3">
			<label for="descrizione" class="form-label">Descrizione</label> <input
				type="text" class="form-control" id="descrizione"
				th:field="*{descrizione}" th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('descrizione')}"
				class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('descrizione')}">[[${err}]]</li>
				</ul>
			</div>
		</div>

		<div class="mb-3">
			<label for="url" class="form-label">Url</label> <input type="text"
				class="form-control" id="url" th:field="*{url}"
				th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('url')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('url')}">[[${err}]]</li>
				</ul>
			</div>
		</div>

		<div class="mb-3">
			<label for="tag" class="form-label">Tag</label> <input type="text"
				class="form-control" id="tag" th:field="*{tag}"
				th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('tag')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('tag')}">[[${err}]]</li>
				</ul>
			</div>
		</div>

		<div class="mb-3">
			<label for="Available" class="form-label">Visibile:</label><br>
			<input type="radio" id="visibleTrue" name="visibilità" value="1"
				th:field="*{visibilità}">   <label for="visibleTrue">Si</label><br>
			<input type="radio" id="visibleFalse" name="visibilità" value="1"
				th:field="*{visibilità}">   <label for="visibleFalse">No</label>
		</div>

		<div class="mb-3">
			<label class="input-group">Categorie: </label>
			<div th:each="category : ${categorie}" class="me-4">
				<input type="checkbox" th:value="${category.id}"
					th:field="*{categorie}" th:id="|categorie_${category.id}|">
				<label th:for="|categorie_${category.id}|">[[${category.name}]]</label>
			</div>
		</div>

		<div>
			<a class="btn btn-primary" th:href="@{/photos}" role="button">Annulla</a>
			<button type="submit" class="btn btn-primary">Invia</button>
		</div>
	</th:block>
	
	<th:block th:fragment="formCategorie">
		<div class="mb-3">
			<label for="name" class="form-label">Nome</label> <input
				type="text" class="form-control" id="name" th:field="*{nome}" th:errorClass="is-invalid">
			 <div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('nome')}">[[${err}]]</li>
				</ul>
			</div> 
		</div>

		<div>
			<a class="btn btn-primary" th:href="@{/categorie}" role="button">Annulla</a>
			<button type="submit" class="btn btn-primary">Invia</button>
		</div>
	</th:block>
	
	

</body>
</html>